<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="message" class="java.lang.String" >
        <constructor-arg value="Hello World!"/>
    </bean>

    <bean id="provider" class="com.kefirkb.com.kefirkb.MessageProviderImpl">
        <property name="message" ref="message"/>
    </bean>

    <bean id="renderer" class="com.kefirkb.com.kefirkb.MessageRendererImpl">
        <property name="messageProvider" ref="provider"/>
    </bean>
</beans>